* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 600px;
    margin: auto;
    background-color: skyblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
    color: white;
    font-size: larger;
    text-align: center;
    margin-bottom: 20px;
}

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

input {
    padding: 10px;
    border: 2px solid #DBEAFE;
    border-radius: 5px;
}

button {
    padding: 10px 35px;
    cursor: pointer;
    border-radius: 5px;
    color: rgb(41, 86, 172);
    font-family: 'Redressed', cursive;
    font-size: 13px;
    line-height: 1.3;
    letter-spacing: 0.29em;
}

button:hover {
    transform: scale(1.05);
}

.main-2 {
    margin-top: 20px;
    margin-right: 15px;
    text-align: center;
}

.main-div {
    font-size: 23px;
    line-height: 1;
    letter-spacing: 0.362em;
    font-weight: 500;
    display: grid;
    margin-top: 1rem;
}

#print {
    text-align: center;
    font-size: 64px;
}

.footer {
    margin-top: 30px;
    color: white;
    text-align: center;
    padding: 2rem 1rem;
}

.footer-header {
    padding-bottom: 10px;
    font-size: 25px;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

a {
    color: #DBEAFE;
    text-decoration: none;
}

.text-center {
    text-align: center;
    margin: 2rem;
}